:root {
    --secondary: #ccc;
}

* {
    font-family: Arial;
}

.wrapper {
    margin: 0 auto;
    width: 40em;
}

header {
    text-align: center;
}

.grid-container {
    height: 40rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    outline: 0.15rem solid #000;
}

.grid-cell {
    outline: 0.1rem solid var(--secondary);
    background-color: #fff;
}

.options-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons button {
    margin: 0.4rem;
    background-color: #e7e7e7; 
    color: black;
    border: black 0.1rem solid;
    text-decoration: none;
    padding: 0.4rem 1.4rem;
}

.radios {
    align-self: center;
}

/*
.grid-cell:hover {
    background-color: #FFDE00;
}
*/